pre {
  background-color: rgb(98, 156, 120);
  color: rgb(255, 255, 255);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  font-style: bold;
  height: auto;
  margin: 5px;
  overflow: auto;
  padding: 10px;
  text-align: left;
}
#text {
  background-color: rgb(88, 88, 88);
  color: rgb(255, 251, 145);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  font-style: bold;
  height: auto;
  width: auto;
  z-index: 100;
}
#all-number {
  border-right: 1px solid;
  display: inline-block;
  float: left;
  margin-right: 8px;
  text-align: right;
}
#all-code {
  display: inline-block;
  float: top;
  margin-left: 8px;
  text-align: left;
}
#number {
  float: top;
  padding-right: 4px;
}
#code {
  float: top;
}
#desc {
  color: rgb(255, 255, 255);
  text-align: center;
}
#link {
  color: rgb(150, 150, 150);
  font-style: underline;
}
#regx {
  color: rgb(150, 150, 150);
}
#units {
  color: rgb(150, 150, 150);
}
#comment {
  color: rgb(0, 47, 47);
  font-style: italic;
}
#selector {
  color: rgb(230, 226, 175);
}
#attribute {
  color: rgb(167, 163, 126);
}
#value {
  color: rgb(239, 236, 202);
}
#parameter {
  color: rgb(4, 99, 128);
}
