/*----------------------------------------Dark----------------------------------------*/
#dark-box{background-color:rgb(88, 88, 88);height:auto;width:100%;}
pre#dark{color:rgb(255, 255, 255);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#dark-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#dark-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#dark-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#dark-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#dark-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#dark-code{float:top;}
#dark-desc{color:rgb(255, 255, 255);text-align:center;}
#dark-link{color:rgb(150, 150, 150);font-style:underline;}
#dark-regx{color:rgb(150, 150, 150);}
#dark-units{color:rgb(150, 150, 150);}
#dark-comment{color:rgb(205, 255, 214);font-style:italic;}
#dark-selector{color:rgb(193, 222, 255);}
#dark-attribute{color:rgb(255, 248, 207);}
#dark-value{color:rgb(173, 176, 232);}
#dark-parameter{color:rgb(232, 200, 178);}
/*----------------------------------------Light----------------------------------------*/
#light-box{background-color:rgb(252, 255, 245);height:auto;width:100%;}
pre#light{color:rgb(209, 219, 189);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#light-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#light-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#light-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#light-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#light-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#light-code{float:top;}
#light-desc{color:rgb(255, 255, 255);text-align:center;}
#light-link{color:rgb(150, 150, 150);font-style:underline;}
#light-regx{color:rgb(150, 150, 150);}
#light-units{color:rgb(150, 150, 150);}
#light-comment{color:rgb(145, 170, 157);font-style:italic;}
#light-selector{color:rgb(62, 96, 111);}
#light-attribute{color:rgb(25, 52, 65);}
#light-value{color:rgb(219, 186, 162);}
#light-parameter{color:rgb(142, 127, 170);}
/*----------------------------------------Gray----------------------------------------*/
#gray-box{background-color:rgb(88, 88, 88);height:auto;width:100%;}
pre#gray{color:rgb(255, 255, 255);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#gray-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#gray-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#gray-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#gray-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#gray-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#gray-code{float:top;}
#gray-desc{color:rgb(255, 255, 255);text-align:center;}
#gray-link{color:rgb(150, 150, 150);font-style:underline;}
#gray-regx{color:rgb(150, 150, 150);}
#gray-units{color:rgb(150, 150, 150);}
#gray-comment{color:rgb(205, 255, 214);font-style:italic;}
#gray-selector{color:rgb(193, 222, 255);}
#gray-attribute{color:rgb(255, 248, 207);}
#gray-value{color:rgb(173, 176, 232);}
#gray-parameter{color:rgb(232, 200, 178);}
/*----------------------------------------White----------------------------------------*/
#white-box{background-color:rgb(88, 88, 88);height:auto;width:100%;}
pre#white{color:rgb(255, 255, 255);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#white-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#white-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#white-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#white-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#white-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#white-code{float:top;}
#white-desc{color:rgb(255, 255, 255);text-align:center;}
#white-link{color:rgb(150, 150, 150);font-style:underline;}
#white-regx{color:rgb(150, 150, 150);}
#white-units{color:rgb(150, 150, 150);}
#white-comment{color:rgb(205, 255, 214);font-style:italic;}
#white-selector{color:rgb(193, 222, 255);}
#white-attribute{color:rgb(255, 248, 207);}
#white-value{color:rgb(173, 176, 232);}
#white-parameter{color:rgb(232, 200, 178);}
/*----------------------------------------Black----------------------------------------*/
#black-box{background-color:rgb(88, 88, 88);height:auto;width:100%;}
pre#black{color:rgb(255, 255, 255);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#black-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#black-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#black-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#black-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#black-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#black-code{float:top;}
#black-desc{color:rgb(255, 255, 255);text-align:center;}
#black-link{color:rgb(150, 150, 150);font-style:underline;}
#black-regx{color:rgb(150, 150, 150);}
#black-units{color:rgb(150, 150, 150);}
#black-comment{color:rgb(205, 255, 214);font-style:italic;}
#black-selector{color:rgb(193, 222, 255);}
#black-attribute{color:rgb(255, 248, 207);}
#black-value{color:rgb(173, 176, 232);}
#black-parameter{color:rgb(232, 200, 178);}
/*----------------------------------------Vintage----------------------------------------*/
#vintage-box{background-color:rgb(227, 205, 164);height:auto;width:100%;}
pre#vintage{color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#vintage-title{background-color:rgb(47, 52, 59);color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#vintage-text{background-color:rgb(47, 52, 59);color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#vintage-all-number{border-color:rgb(126, 130, 122);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#vintage-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#vintage-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#vintage-code{float:top;}
#vintage-desc{color:rgb(255, 255, 255);text-align:center;}
#vintage-link{color:rgb(150, 150, 150);font-style:underline;}
#vintage-regx{color:rgb(150, 150, 150);}
#vintage-units{color:rgb(150, 150, 150);}
#vintage-comment{color:rgb(126, 130, 122);font-style:italic;}
#vintage-selector{color:rgb(199, 121, 102);}
#vintage-attribute{color:rgb(87, 112, 111);}
#vintage-value{color:rgb(169, 146, 196);}
#vintage-parameter{color:rgb(47, 52, 59);}
/*----------------------------------------Beach----------------------------------------*/
#beach-box{background-color:rgb(98, 156, 120);;height:auto;width:100%;}
pre#beach{color:rgb(255, 255, 255);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#beach-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#beach-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#beach-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#beach-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#beach-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#beach-code{float:top;}
#beach-desc{color:rgb(255, 255, 255);text-align:center;}
#beach-link{color:rgb(150, 150, 150);font-style:underline;}
#beach-regx{color:rgb(150, 150, 150);}
#beach-units{color:rgb(150, 150, 150);}
#beach-comment{color:rgb(0, 47, 47);font-style:italic;}
#beach-selector{color:rgb(230, 226, 175);}
#beach-attribute{color:rgb(167, 163, 126);}
#beach-value{color:rgb(239, 236, 202);}
#beach-parameter{color:rgb(4, 99, 128);}
/*----------------------------------------Honey----------------------------------------*/
#honey-box{background-color:rgb(88, 88, 88);height:auto;width:100%;}
pre#honey{color:rgb(255, 255, 255);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#honey-title{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#honey-text{background-color:rgb(88, 88, 88);color:rgb(255, 251, 145);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#honey-all-number{border-color:rgb(39, 10, 100);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#honey-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#honey-number{color:rgb(126, 130, 122);float:top;padding-right:4px;}
#honey-code{float:top;}
#honey-desc{color:rgb(255, 255, 255);text-align:center;}
#honey-link{color:rgb(150, 150, 150);font-style:underline;}
#honey-regx{color:rgb(150, 150, 150);}
#honey-units{color:rgb(150, 150, 150);}
#honey-comment{color:rgb(16, 91, 99);font-style:italic;}
#honey-selector{color:rgb(255, 211, 78);}
#honey-attribute{color:rgb(189, 73, 50);}
#honey-value{color:rgb(255, 250, 213);}
#honey-parameter{color:rgb(219, 158, 54);}
/*----------------------------------------Salmon----------------------------------------*/
#salmon-box{background-color:rgb(255, 127, 102);height:auto;width:100%;}
pre#salmon{color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;}
#salmon-title{background-color:rgb(62, 69, 76);color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:25px;font-style:bold;height:auto;text-align:left;width:auto;z-index:23;}
#salmon-text{background-color:rgb(62, 69, 76);color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#salmon-all-number{border-color:rgb(255, 246, 229);border-right:1px solid;display:inline-block;float:left;margin-right:8px;text-align:right;}
#salmon-all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#salmon-number{color:rgb(255, 246, 229);float:top;padding-right:4px;}
#salmon-code{float:top;}
#salmon-desc{color:rgb(255, 255, 255);text-align:center;}
#salmon-link{color:rgb(150, 150, 150);font-style:underline;}
#salmon-regx{color:rgb(150, 150, 150);}
#salmon-units{color:rgb(150, 150, 150);}
#salmon-comment{color:rgb(255, 246, 229);font-style:italic;}
#salmon-selector{color:rgb(126, 206, 252);}
#salmon-attribute{color:rgb(157, 253, 198);}
#salmon-value{color:rgb(51, 146, 197);}
#salmon-parameter{color:rgb(62, 69, 76);}
