/*----------------------------------------Vintage----------------------------------------*/
pre{background-color:rgb(126, 130, 122);color:rgb(227, 205, 164);font-family:"Lucida Console", Monaco, monospace;font-size:14px;font-style:bold;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
#text{background-color:rgb(47, 52, 59);color:rgb(227, 205, 164);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;width:auto;z-index:100;}
#all-number{border-right:1px solid rgb(227, 205, 164);display:inline-block;float:left;margin-right:8px;text-align:right;}
#all-code{display:inline-block;float:top;margin-left:8px;text-align:left;}
#number{color:rgb(227, 205, 164);float:top;padding-right:4px;}
#code{float:top;}
#link{color:rgb(150, 150, 150);font-style:underline;}
#regx{color:rgb(150, 150, 150);}
#units{color:rgb(150, 150, 150);}
#comment{color:rgb(88, 130, 100);font-style:italic;}
#selector{color:rgb(47, 52, 59);}
#attribute{color:rgb(112, 48, 48);}
#reserved{color:rgb(112, 48, 48);}
#value{color:rgb(199, 121, 102);}
#parameter{color:rgb(227, 205, 164);}
