html{background-color:rgb(35, 49, 56);background-image:url("https://colorizor.github.io/Images/HomePage.png");background-position:0px 0px;background-repeat:no-repeat;background-size:cover;z-index:0;}
.on{background-attachment:fixed;}
.off{background-attachment:scroll;}
body{height:auto;left:0px;margin:0;padding:0;position:absolute;right:0px;top:500px;width:auto;z-index:20;}
header{height:auto;left:0px;position:relative;right:0px;top:0px;width:auto;z-index:21;}
main{background-color:rgb(76, 100, 107);height:auto;left:0px;position:relative;right:0px;top:0px;width:auto;z-index:21;}
footer{background-color:rgb(35, 49, 56);height:auto;left:0px;position:relative;right:0px;top:0px;width:auto;z-index:21;}
#large-box{height:auto;left:0px;margin-bottom:0px;position:relative;top:0px;width:100%;z-index:21;}
#little-box{height:auto;left:20%;margin-bottom:10px;position:relative;top:0px;width:60%;z-index:21;}
#title{color:rgb(255, 247, 245);font-family:"Arial", Sans-serif;font-size:25px;z-index:23;}
td{color:rgb(255, 237, 204);text-align:center;}
pre{height:auto;position:relative;top:0px;width:800px;z-index:100;}
hr{background-color:rgb(35, 49, 56);border:0px solid;height:3px;}
#social-icon{z-index:23;}
#social-icon:hover#social-link{visibility:visible;}
#social-link{border-radius:25px;height:50px;visibility:hidden;width:50px;z-index:23;}
